<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VietCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
    <userSettings>
        <VietCam.Properties.Settings>
            <setting name="AdrImg" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="AdrVideo" serializeAs="String">
                <value>NULL</value>
            </setting>
        </VietCam.Properties.Settings>
    </userSettings>
</configuration>
